<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <title>HabitAqui</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HabitAqui Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" type="text/css" href="~/assets/styles/bootstrap4/bootstrap.min.css" runat="server">
    <link href="~/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" runat="server">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css" runat="server">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" runat="server">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/animate.css" runat="server">
    <link rel="stylesheet" type="text/css" href="~/assets/styles/main_styles.css" runat="server">
    <link rel="stylesheet" type="text/css" href="~/assets/styles/responsive.css" runat="server">
    <link rel="stylesheet" type="text/css" href="~/assets/styles/login_register.css" runat="server">
</head>



<body >

    
        @RenderBody()
    


</body>
</html>