@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm" }))
{
   /* <div>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    */
    <div>
        <input type="submit" value="Login" />
    </div>
}

